*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.orders-container{
    max-width: 1200px;

    margin: 40px auto;
}

.orders-container h1{
    margin-bottom: 30px;
}

.order-card{
    background-color: white;

    border-radius: 14px;

    padding: 25px;

    margin-bottom: 30px;

    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.order-header{
    display: flex;
    justify-content: space-between;

    align-items: center;

    margin-bottom: 25px;
}

.status{
    background-color: #111;
    color: white;

    padding: 8px 16px;

    border-radius: 8px;
}

.order-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-item{
    display: flex;
    align-items: center;
    gap: 20px;
}

.order-item img{
    width: 90px;
    height: 100px;

    object-fit: cover;

    border-radius: 8px;
}

.order-item span{
    margin-left: auto;

    font-weight: 600;
}

.order-footer{
    margin-top: 25px;

    border-top: 1px solid #eee;

    padding-top: 20px;

    text-align: right;
}